{% if navbar_search %}
<div class="header-nav-feature pr-lg-4 pr-xl-5 mr-4">
	<form role="search" action='/all-books'>
		<div class="search-with-select">
			<a href="#" class="mobile-search-toggle-btn  text-center mr-2" data-porto-toggle-class="open">
				<i class="icons icon-magnifier text-color-light text-6"></i>
			</a>
			<div class="search-form-wrapper input-group search-form-wrapper-navbar-center-double">
				<input class="form-control text-1" id="headerSearch" name="q" type="search" value="{{ frappe.form_dict.q or ''}}"  {% if not frappe.form_dict.q%}placeholder='{{ _("Search...") }}'{% endif %}>
				<span class="input-group-append">
					<div class="custom-select-1">
						<select name="category"  id="headerSearchType" class="form-control {{ 'pl-5' if website_languages_request == 'ar' else 'pr-5'}}">
							<option value="General" {{'selected' if frappe.form_dict.category == 'General' else ''}}>{{ _("General") }}</option>
							<option value="Title" {{'selected' if frappe.form_dict.category == 'Title' else ''}}>{{ _("Title") }}</option>
							<option value="ISBN" {{'selected' if frappe.form_dict.category == 'ISBN' else ''}}>{{ _("ISBN") }}</option>
							<option value="Author" {{'selected' if frappe.form_dict.category == 'Author' else ''}}>{{ _("Author") }}</option>
							<option value="Description" {{'selected' if frappe.form_dict.category == 'Description' else ''}}>{{ _("Description") }}</option>
							<option value="Year" {{'selected' if frappe.form_dict.category == 'Year' else ''}}>{{ _("Year") }}</option>
						</select>
					</div>
					<button class="btn" type="submit">
						<i class="icons icon-magnifier header-nav-top-icon text-color-dark"></i>
					</button>
				</span>
			</div>
		</div>
	</form>
</div>
{% endif %}
