// =============================================================================
// BORDERS
// =============================================================================

$border-radius: 4px;

// =============================================================================
// COLORS
// =============================================================================

$color-background: #f7f7f7;
$color-background-dark: #212529;

$color-primary: #0088CC;

$color-secondary: #e36159;

$color-tertiary: #2BAAB1;

$color-quaternary: #383f48;

$color-dark: #212529;
$color-dark-inverse: #ffffff;

$color-light: #ffffff;
$color-light-inverse: #777777;
