<div class="col-md-{{ column_value }} rounded">
	<a href="{{ (item.route)|abs_url }}" class="text-decoration-none">
		<span class="thumb-info custom-thumb-info-1 thumb-info-no-borders">
			<span class="thumb-info-wrapper p-0">
				<img src="{{ (item.image) }}" class="img-fluid rounded" alt="">
			</span>
			<span class="thumb-info-caption bg-color-light">
				<span class="thumb-info-caption-text">
					<span class="thumb-info-caption-title text-uppercase text-color-dark font-weight-bold">{{ _(item.author_name) }}</span>
				</span>
			</span>
		</span>
	</a>
</div>
